@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}